@model CoLeadr2.Models.ProjectTask

@{
    ViewBag.Title = "Delete";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Projects Index", "Index", "Projects")</li>
    <li>@Html.ActionLink((string)ViewBag.Project, "Details", "Projects", new { id = ViewBag.ProjectId }, null)</li>
    <li>@Html.ActionLink("Project Tasks", "TaskList", "ProjectTasks", new { projectId = ViewBag.ProjectId }, null)</li>
    <li class="active">Delete Project Task</li>
</ol>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectTask</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ProjectId)
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsComplete)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "TaskList", new { projectId = Model.ProjectId})
        </div>
    }
</div>
